.form {
    width: 30vw;
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
}

.form .input-field {
    width: 20vw;
    display: block;
    margin: 1vw auto;

}

.header {
    background-color: rgb(227, 116, 117); 
    display: block;
    margin: 0 auto;
    padding: .5vh 0;
}

.header img {
    width: 30vw;
}

