.btn {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
}

.flex-buttons {
    display: flex;
    justify-content: space-around;
}

.form {
    width: 30vw;
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
}

.form .input-field {
    width: 20vw;
    display: block;
    margin: 1vw auto;

}

.form2 {
    width: 35vw;
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
    background-color: rgb(249, 249, 249);
}

.form2 p {
    color: rgb(75, 75, 75);
    margin-bottom: 2vh;
    font-family: 'Slabo 27px', serif;
}

.header {
    background-color: rgb(227, 116, 117); 
    display: block;
    margin: 0 auto;
    padding: .5vh 0;
}

.header img {
    width: 20vw;
}

.page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(249, 249, 249);
}


#emailButton {
    display: block;
    color: white;
    margin: 1vh auto;
}

#googleButton {
    background-color: white;
    color: rgb(117, 117, 117);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#googleButton img {
    width: 1.3vw;
    margin-left: 15px;
}
